header {
  grid-area: header;
  background-color: black;
  background-size: 40%;
  padding: 20px;
  margin: 0%;
  font-family: Corporate A BQ Light,Open sans,sans-serif; }
  header .direccion {
    text-align: right;
    text-transform: capitalize;
    font-size: 15px; }
    header .direccion .empresa {
      text-transform: capitalize;
      font-size: 40px;
      padding: 15px;
      margin: 15px; }
      header .direccion .empresa nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        font-size: 2rem;
        color: #141414;
        flex-flow: wrap; }
        header .direccion .empresa nav a {
          text-decoration: none;
          margin-inline: 10px;
          color: aliceblue; }

.grid {
  display: grid;
  grid-template-areas: "header header header" "mbgrid mbgrid turnomb" "mbgrid mbrid turnomb" "consejosmb consejosmb turnomb" "footer footer footer";
  align-content: stretch; }
  .grid .mbgrid {
    grid-area: mbgrid;
    background: black; }
    .grid .mbgrid .turnomb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      grid-area: turno;
      background: black; }
      .grid .mbgrid .turnomb .consejosmb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        grid-area: consejos;
        background: black; }

/*gridmercedesebenz*/
.contenedormb {
  display: grid;
  grid-template-areas: "header header header" "postventas postventas vansgrid" "autosgrid autosbrid vansgrid" "camionesgrid camionesgrid camionesgrid" "footer footer footer";
  align-content: stretch; }
  .contenedormb .unidades {
    text-align: center;
    width: 1300px;
    align-self: center;
    padding: 20px;
    box-shadow: #141414;
    font-size: 2rem;
    margin: 15px; }
    .contenedormb .unidades .postventas {
      grid-area: postventas;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      background: black; }
      .contenedormb .unidades .postventas .autosgrid {
        grid-area: autosgrid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background: black; }
        .contenedormb .unidades .postventas .autosgrid .vansgrid {
          grid-area: vansgrid;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          background: black; }
          .contenedormb .unidades .postventas .autosgrid .vansgrid .camionesgrid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            background: black;
            grid-area: camionesgrid; }

/*gridmopar*/
.contenedormopar {
  display: grid;
  grid-template-areas: "header header header" "consultasgd consultasgd consultasgd" "jeepgd jeepgd dodgegd" "chryslergd chryslergd ramgd" "footer footer footer";
  align-content: stretch; }
  .contenedormopar .consultasgd {
    grid-area: consultasgd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: black; }
    .contenedormopar .consultasgd .jeepgd {
      grid-area: jeepgd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      background: black; }
      .contenedormopar .consultasgd .jeepgd .dodgegd {
        grid-area: dodgegd;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background: black; }
        .contenedormopar .consultasgd .jeepgd .dodgegd .chryslergd {
          grid-area: chryslergd;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          background: black; }
          .contenedormopar .consultasgd .jeepgd .dodgegd .chryslergd .ramgd {
            grid-area: ramgd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            background: black; }

/*grid conctacto*/
.contenedorcontacto {
  display: grid;
  grid-template-areas: "header header header" "infodecontacto formulario formulario" "infodecontacto formulario formulario" "footer footer footer";
  align-items: stretch; }
  .contenedorcontacto .infodecontacto {
    padding: 10px;
    margin: 20px;
    grid-area: infodecontacto; }
    .contenedorcontacto .infodecontacto .formulario {
      grid-area: formulario; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  padding: 30px;
  margin: 0px;
  grid-area: footer;
  background: black;
  font-family: Corporate A BQ Light,Open sans,sans-serif; }
  footer ul {
    list-style-type: none; }
    footer ul .direccion {
      text-align: right;
      text-transform: capitalize;
      font-size: 15px; }
      footer ul .direccion .empresa {
        text-transform: capitalize;
        font-size: 40px;
        padding: 15px;
        margin: 15px; }
        footer ul .direccion .empresa h3 {
          text-align: center;
          font-size: 20px; }
          footer ul .direccion .empresa h3 h2 {
            font-size: 30px;
            text-align: center; }
            footer ul .direccion .empresa h3 h2 .info {
              font-size: 30px;
              text-align: center;
              text-decoration: none; }
              footer ul .direccion .empresa h3 h2 .info .info2 {
                font-size: 20px;
                text-align: center;
                text-decoration: none; }

.profiles-link--facebook:hover {
  background-color: #141414; }

.profiles-link--instagram:hover {
  background-color: #141414; }

.imagenes-1 {
  width: 2em; }

.imagenes-2 {
  width: 4em; }

.imagenes-3 {
  width: 6em; }
