header {
  grid-area: header;
  background-color: black;
  background-size: 40%;
  padding: 20px;
  margin: 0%;
  font-family: Corporate A BQ Light,Open sans,sans-serif; }
  header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
    color: #141414;
    flex-flow: wrap;
    font-family: Open sans,sans-serif; }
    header nav nav a {
      text-decoration: none;
      margin-inline: 10px;
      color: aliceblue; }

.grid {
  display: grid;
  grid-template-areas: "header header header" "mbgrid mbgrid turnomb" "mbgrid mbrid turnomb" "consejosmb consejosmb consejosmb" "footer footer footer"; }
  .grid .mbgrid {
    grid-area: mbgrid;
    background: black; }
    .grid .mbgrid .turnomb {
      justify-content: center;
      padding: 20px;
      grid-area: turnomb;
      background: black; }
      .grid .mbgrid .turnomb .consejos {
        text-align: center;
        padding: 20px;
        box-shadow: black;
        font-size: 3rem; }
        .grid .mbgrid .turnomb .consejos .consejosmb {
          justify-content: center;
          padding: 20px;
          margin: 0px;
          grid-area: consejosmb;
          font-size: 2rem;
          background: black; }
          .grid .mbgrid .turnomb .consejos .consejosmb footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 20px;
            margin: 0px;
            grid-area: footer;
            background: black;
            font-family: Open sans,sans-serif; }

/*gridmercedesebenz*/
.contenedormb {
  display: grid;
  grid-template-areas: "header header header" "postventas postventas vansgrid" "autosgrid autosbrid vansgrid" "camionesgrid camionesgrid camionesgrid" "footer footer footer";
  align-content: stretch; }
  .contenedormb .postventas {
    grid-area: postventas;
    justify-content: center;
    padding: 20px;
    background: black; }
    .contenedormb .postventas .autosgrid {
      grid-area: autosgrid;
      justify-content: center;
      padding: 20px;
      background: black; }
      .contenedormb .postventas .autosgrid .vansgrid {
        grid-area: vansgrid;
        justify-content: center;
        padding: 20px; }
        .contenedormb .postventas .autosgrid .vansgrid .camionesgrid {
          justify-content: center;
          padding: 20px;
          background: black;
          grid-area: camionesgrid; }

/*grid mopar*/
.contenedormopar {
  display: grid;
  grid-template-areas: "header header header" "consultasgd consultasgd consultasgd" "mantenimiento mantenimiento  mantenimiento" "jeepgd jeepgd chrysler" "dodge dodge ram" "footer footer footer";
  align-content: stretch;
  display: flex;
  flex-direction: column; }
  .contenedormopar .consultasgd {
    grid-area: consultasgd;
    justify-content: center;
    padding: 20px;
    background: black; }
    .contenedormopar .consultasgd .mantenimiento {
      grid-area: mantenimiento;
      justify-content: center;
      padding: 20px;
      background: black; }
      .contenedormopar .consultasgd .mantenimiento .jeepgd {
        grid-area: jeepgd;
        justify-content: center;
        padding: 30px;
        background: black;
        margin: 0px; }
        .contenedormopar .consultasgd .mantenimiento .jeepgd .dodge {
          grid-area: dodge;
          justify-content: center;
          padding: 30px;
          background: black;
          margin: 0px; }
          .contenedormopar .consultasgd .mantenimiento .jeepgd .dodge .chrysler {
            grid-area: chrysler;
            justify-content: center;
            padding: 30px;
            background: black;
            margin: 0px; }
            .contenedormopar .consultasgd .mantenimiento .jeepgd .dodge .chrysler .ram {
              grid-area: ram;
              justify-content: center;
              padding: 30px;
              background: black;
              margin: 0px; }

/*grid conctacto*/
.contenedorcontacto {
  display: grid;
  grid-template-areas: "header header header" "infodecontacto formulario formulario" "infodecontacto formulario formulario" "footer footer footer";
  align-items: stretch; }
  .contenedorcontacto .infodecontacto {
    padding: 10px;
    margin: 20px;
    grid-area: infodecontacto; }
    .contenedorcontacto .infodecontacto .formulario {
      grid-area: formulario; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin: 0px;
  grid-area: footer;
  background: black;
  font-family: Open sans,sans-serif; }
  footer ul {
    list-style-type: none; }
    footer ul .direccion {
      text-align: right;
      text-transform: capitalize;
      font-size: 15px; }
      footer ul .direccion .empresa {
        text-transform: capitalize;
        font-size: 40px;
        padding: 15px;
        margin: 15px; }
        footer ul .direccion .empresa h3 {
          text-align: center;
          font-size: 20px; }
          footer ul .direccion .empresa h3 h2 {
            font-size: 30px;
            text-align: center; }
            footer ul .direccion .empresa h3 h2 .info {
              font-size: 30px;
              text-align: center;
              text-decoration: none; }
              footer ul .direccion .empresa h3 h2 .info .info2 {
                font-size: 20px;
                text-align: center;
                text-decoration: none; }

.profiles-link--facebook:hover {
  background-color: #141414; }

.profiles-link--instagram:hover {
  background-color: #141414; }

.imagenes-1 {
  width: 2em; }

.imagenes-2 {
  width: 4em; }

.imagenes-3 {
  width: 6em; }
