*{  margin:0;
    padding:0;
    box-sizing: border-box;          }

html { 
    font-size: 62.5%;
}
header {
    grid-area: header;
    background-color: black;
    background-size: 40%; 
    padding: 20px;
    margin: 0%;
    font-family:  Corporate A BQ Light,Open sans,sans-serif;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
    color: #141414;
    flex-flow: wrap;
    font-family: Open sans,sans-serif ;
}
nav a {
    text-decoration: none;
    margin-inline: 10px;
    color:aliceblue;
}
body {
    background-color: #141414;
    font-family: Open sans,sans-serif;
    color: white;
}
.grid {
    display: grid ;
    grid-template-areas:
    "header header header"
    "mbgrid mbgrid turnomb"
    "mbgrid mbrid turnomb"
    "consejosmb consejosmb consejosmb"
    "footer footer footer";
}
.marcas {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    margin: 15px;
}
.mbgrid {
    grid-area: mbgrid;
    background:black;
}
.turno {
    text-align: center;
    width: auto;
    padding: 20px;
    box-shadow: #141414;
    font-size: 2rem;
}
.turnomb {
    justify-content: center;
    padding: 20px;
    grid-area: turnomb;
    background: black;
}
.consejos {
    text-align: center;
    padding: 20px;
    box-shadow: black;
    font-size: 3rem;
}
.consejosmb {
    justify-content: center;
    padding: 20px;
    margin: 0px;
    grid-area: consejosmb;
    font-size: 2rem;
    background: black;
}
footer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0px;
    grid-area: footer;
    background: black;
    font-family: Open sans,sans-serif;
}

ul {
    list-style-type: none;
}
.direccion{
    text-align: right;
    text-transform: capitalize;
    font-size: 15px;
}
    
h1 {
 
    text-transform: capitalize;
    font-size: 40px;
    padding: 15px;
    margin: 15px;    
}
h3 {
    text-align: center;
    font-size: 20px;
}
h2 {
   
    font-size: 30px;
    text-align: center;
}
.info {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
.info2 {
    
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

/* mercedesb*/
.contenedormb{
    display: grid;
    grid-template-areas: 
    "header header header"
    "postventas postventas vansgrid"
    "autosgrid autosbrid vansgrid"
    "camionesgrid camionesgrid camionesgrid"
    "footer footer footer";
    align-content: stretch;
    display: flex;
    flex-direction: column;
}
.unidades {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    margin: 15px;
    
}
.postventas{
    grid-area: postventas;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
}
.autosgrid{
    grid-area: autosgrid;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
}
.vansgrid{
    grid-area: vansgrid;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
}
.camionesgrid{
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
    grid-area: camionesgrid;
}

/*mopar*/
.contenedormopar {
    display: grid;
    grid-template-areas: 
    "header header header"
    "consultasgd consultasgd consultasgd"
    "mantenimiento mantenimiento  mantenimiento"
    "jeepgd jeepgd chrysler"
    "dodge dodge ram"
    "footer footer footer";
    align-content: stretch;
    display: flex;
    flex-direction:column;
}

.consultasgd{
    grid-area: consultasgd;
    justify-content: center;
    padding: 20px;
    background: black;
}
.mantenimiento {
    grid-area: mantenimiento;
    justify-content: center;
    padding: 20px;
    background: black;

}
.jeepgd{
    grid-area: jeepgd;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
}

.dodge{
    grid-area: dodge;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
}
.chrysler{
    grid-area: chrysler;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
}
.ram{
    grid-area: ram;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
}


/*imagenes*/
img {
    max-width: 100%;
    max-height: 100%;
    
}
.fondoautos {
    height : 400px;
    width: 1100px;
    display: block;
    margin: 0px auto;
}
.c63 {
    height: 450px;
    width: 900px;
    display: block;
    margin: 0px auto;
    padding: 10px;
}
.logo {
    height: 150px;
    width: 300px;
    display: block;
    margin: 0px auto;
}
/*footer img*/
.insta {
        height: 30px;
        width: 30px;   
}
.face {
    height: 30px;
    width: 30px;  
}

/*bodycontacto*/
.formulario {
    font-family:Open sans,sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 100px;  
    padding: 30px;
}
.textoqs {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 15px;
    
}

/*pagina contacto*/

.infocontacto {
    font-size: 15px;
    text-align: center;
}
h4 {
    font-size: 20px;
    text-align: center ;
}
.contenedorcontacto {
    display: grid;
    grid-template-areas: 
    "header header header"
    "infodecontacto formulario formulario"
    "infodecontacto formulario formulario"
    "footer footer footer";     
    align-items: stretch; 
}.infodecontacto {
    padding: 10px;
    margin: 20px;
    grid-area: infodecontacto;
}
.formulario {
    grid-area: formulario;
}