.grid {
    display: grid ;
    grid-template-areas:
    "header header header"
    "mbgrid mbgrid turnomb"
    "mbgrid mbrid turnomb"
    "consejosmb consejosmb consejosmb"
    "footer footer footer";

.mbgrid {
    grid-area: mbgrid;
    background:black;

.turnomb {
    justify-content: center;
    padding: 20px;
    grid-area: turnomb;
    background: black;

.consejos {
    text-align: center;
    padding: 20px;
    box-shadow: black;
    font-size: 3rem;

.consejosmb {
    justify-content: center;
    padding: 20px;
    margin: 0px;
    grid-area: consejosmb;
    font-size: 2rem;
    background: black;

footer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0px;
    grid-area: footer;
    background: black;
    font-family: Open sans,sans-serif;
                    }
                }   
            }   
        }
    }
}
/*gridmercedesebenz*/
.contenedormb{
    display: grid;
    grid-template-areas: 
    "header header header"
    "postventas postventas vansgrid"
    "autosgrid autosbrid vansgrid"
    "camionesgrid camionesgrid camionesgrid"
    "footer footer footer";
    align-content: stretch;


.postventas{
    grid-area: postventas;
    justify-content: center;
    padding: 20px;
    background: black;

.autosgrid{
    grid-area: autosgrid;
    justify-content: center;
    padding: 20px;
    background: black;

.vansgrid{
    grid-area: vansgrid;
    justify-content: center;
    padding: 20px;
 
.camionesgrid{
    justify-content: center;
    padding: 20px;
    background: black;
    grid-area: camionesgrid;
                    }
                }
            }
        }   
    }

 /*grid mopar*/
 .contenedormopar {
    display: grid;
    grid-template-areas: 
    "header header header"
    "consultasgd consultasgd consultasgd"
    "mantenimiento mantenimiento  mantenimiento"
    "jeepgd jeepgd chrysler"
    "dodge dodge ram"
    "footer footer footer";
    align-content: stretch;
    display: flex;
    flex-direction:column;


.consultasgd{
    grid-area: consultasgd;
    justify-content: center;
    padding: 20px;
    background: black;

.mantenimiento {
    grid-area: mantenimiento;
    justify-content: center;
    padding: 20px;
    background: black;


.jeepgd{
    grid-area: jeepgd;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;


.dodge{
    grid-area: dodge;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;

.chrysler{
    grid-area: chrysler;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;

.ram{
    grid-area: ram;
    justify-content: center;
    padding: 30px;
    background: black;
    margin: 0px;
                        }
                    }
                }
            }
        }   
    }
 }


/*grid conctacto*/
.contenedorcontacto {
    display: grid;
    grid-template-areas: 
    "header header header"
    "infodecontacto formulario formulario"
    "infodecontacto formulario formulario"
    "footer footer footer";     
    align-items: stretch; 
.infodecontacto {
    padding: 10px;
    margin: 20px;
    grid-area: infodecontacto;

.formulario {
    grid-area: formulario;
  }
 }
}
       